[submodule "OCR/OCR/partie"]
	path = OCR/OCR/partie
	url = https://github.com/ljpetkovic/Registre_R416
[submodule "Fouille/minerva"]
	path = Fouille/minerva
	url = https://github.com/YoannDupont/minerva
